body{
    padding:0;
    margin:0;
    background:#FCFDF8;
}

#div1 {
    width:100%;
    min-width: 500px;
    height:50px;
    border:solid 1px #ECDFA2;
    margin:0px auto;
    background:#ECDFA2;
    position:fixed;
    left:0px;
    top:0px;
    z-index:2;
    box-shadow: 0px 2px #d2d2d2;
}

#div1_img{
    position:absolute;
    left:39%;
    top:5px;

}

#ctx{
    width:30%;
    height:40px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    padding:5px 20px;
    margin-left: 10%;
    margin-top: 5px;
}

#question{
    width:150px;
    height:40px;
    margin-left:100px;
    border-radius: 4px;
    border: 1px solid #540060;
    background: #fffef6;
    font-weight: 900;
    cursor: pointer;
}

#srh{
    weidth:3%;
    height:40px;
    z-index:2;
    cursor: pointer;
}

#logined_show{
    width: 84%;
    opacity: 0;
    min-width: 600px;
}

#div1_user_icon{
    background:#ffffff;
    margin-top: -35px;
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:100px;
    border:1.5px solid #bbbbbb	;
    overflow:hidden;
    box-shadow:0 0 3px #ccc;
    position:fixed;
    z-index:2;
    cursor: pointer;
}

.icon_bell{
    width:33px;
    min-height:33px;
    margin-top:-1.5px;
    margin-left:-1.5px;
}

#logined_show{
    opacity: 0;
}

.yellow_div{
    width:100%;
    height:30px;
    background:#eee88d;
    border-radius: 4px;
    border: 0px solid #000000;
}

.close_div{
    margin-left:93%;
    margin-top:1%;
}

#cover{
    width:100%;
    height:100%;
    z-index:-1;
    background:#000000;
    opacity:0;
    position: fixed;
    top:0%;
    left:0%;
}

#passage_title{
    width:90% ;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    padding:30px;
    left:5%;
    margin-top: 20px;
    margin-left: 5%;
}

#passage_content{
    width:90% ;
    height: 170px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    padding:30px;
    left:5%;
    margin-left: 5%;
    margin-top: 5px;
}

#answer_content{
    width:90% ;
    height: 300px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    padding:30px;
    left:5%;
    margin-left: 5%;
    margin-top: 5px;
}

#answer_submit{
    width:24.5%;
    height:30px;
    margin-left:70%;
    border-radius: 4px;
    border: 1px solid #540060;
    background: #fffef6;
    margin-top:2%;
}


#question_passage{
    width:37.5%;
    height:350px;
    z-index:-1;
    background:#ffffff;
    position: fixed;
    border-radius: 4px;
    border: 0px solid #000000;
    top: 50%;
    left: 50%;
    margin-left: -18.75%;
    margin-top: -175px;
    opacity:0;
}

#answer_passage{
    width:37.5%;
    height:450px;
    z-index:-1;
    background:#ffffff;
    position: fixed;
    border-radius: 4px;
    border: 0px solid #000000;
    top: 50%;
    left: 50%;
    margin-left: -18.75%;
    margin-top: -225px;
    opacity:0;
}

#passage_submit{
    width:24.5%;
    height:30px;
    margin-left:70%;
    border-radius: 4px;
    border: 1px solid #540060;
    background: #fffef6;
    margin-top:2%;
}


#div4 {
    width:100%;
    height:6%;
    padding-top:7% ;
    margin:0px auto;
    background:#CCC9CC;
    position:fixed;
    left:0px;
    top:94%;
    z-index:1;
}

#div4_1 {
    width:100%;
    height:6%;
    margin:8% ;
    margin-top:3px;
    background:#CCC9CC;
    position:fixed;
    left:0px;
    top:95%;
}

#div4_2 {
    width:100%;
    height:6%;
    margin:16% ;
    margin-top:3px;
    background:#CCC9CC;
    position:fixed;
    left:0px;
    top:95%;
}

#div4_3 {
    width:100%;
    height:6%;
    margin:80% ;
    margin-top:3px;
    background:#CCC9CC;
    position:fixed;
    left:0px;
    top:95%;
}

#feedback {
    float:left
}

#about_us {
    float:left;
}


#div5{
    width:26%;
    min-width: 245px;
    height:150px;
    border-radius: 7.5px;
    background:#ffffff;
    position:absolute;
    left:60%;
    top:73.2px;
    border: 1px solid #cdb5cc;
}

#div5_text1{
    margin-top:40px;
    font-size:35px;
    margin-right:10%;
    color:#7b538f;
    font-weight:900;
}

#sign_in{
    margin-top:-19px;
    margin-left:65%;
    color:#000000;
    cursor: pointer;
}

#sign_up:hover{
    font-weight: 600;
}

#sign_in:active{
    color:red;
}

#sign_in:hover{
    font-weight: 600;
}

#sign_up:active{
    color:red;
}

#sign_up{
    margin-top:-36px;
    margin-left:78%;
    color: #000000;
    cursor: pointer;
}

#user_name{
    color:#000000;
    position:absolute;
    margin-left:40%;
    margin-top:-20px;
    font-weight: 900;
    text-decoration:none;
}

#user_img{
    margin-top:20px;
    width: 250px;
    position: relative;
    left: 20%;
}

#img{
    width:55px;
    min-height:55px;
    margin-top:-1.5px;
    margin-left:-1.5px;
}

.other_img{
    margin-top:20px;
    width: 250px;
    position: relative;
    left: 20%;
}




.other_user_name{
    line-heigh:5px;
    color: #6e6e6e;
    font-size:13px;
    text-decoration:none;
    margin-left: 90px;
    margin-top: 90px;
}



.other_user_school{
    line-heigh:5px;
    color: #6e6e6e;
    font-size:13px;
    text-decoration:none;
    margin-left: 90px;
    margin-top: 90px;
}

.msg{
    line-heigh:5px;
    color: #6e6e6e;
    font-size:13px;
    text-decoration:none;
}

.msg:active{
    color:red;
}

.msg:hover{
    font-weight:600;
}

#user_name:hover{
    font-weight:900;

}

#owner_msg_div{
    width:26%;
    min-width: 245px;
    padding-bottom: 20px;
    border-radius: 7.5px;
    background:#ffffff;
    position:absolute;
    left:60%;
    top:256.2px;
    border: 1px solid #cdb5cc
}

#owner_circle{
    margin:-30px ;
    margin-top:-2.5px;
    display:inline-block;
    width:52px;
    height:52px;
    border-radius:100px;
    border:1.5px solid #bbbbbb	;
    overflow:hidden;
    box-shadow:0 0 3px #ccc;
    cursor: pointer;
}



#owner{
    margin-left: 20px;
    margin-top: 30px;
}

#owner_pre_passage{
    margin-top: 30px;
}

#user_msg{
    margin-left: 15px;
    margin-top: 45px
}

.msg{
    line-heigh:15px;
    color: #6e6e6e;
    font-size:13px;
    text-decoration:none;
}

#owner_pre_title{
    margin-top: 20px;
    margin-left: 25px
}

.pre_title{

    color: #6e6e6e;
    font-size:13px;
    text-decoration:none;
}

#passage_div{
width: 50%;
    position:fixed;
}

#main_passage{
    width: 91%;
    border-top-color: #540060;
    border-bottom-color: #540060;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    padding-bottom: 10px;
}

#main_question{
    width: 50%;
    min-width: 450px;
    padding-bottom: 10%;
    background: #FCFDF8;
    margin-top: 50px;
    position: relative;
    margin-left: 10%;
}

.min_icon{
    width: 24px;
    height: 24px;
    position:relative;
    left:0px;
    margin-top: -37.5px;
}

.min_icon_msg{
    margin-left: 35px;
    color: #6e6e6e;
}

#question_date{

    color: #6e6e6e;
}

.how_many{
    margin-left: 5px;
}

#answer{
    width:150px;
    height:30px;
    border-radius: 10px;
    border: 1px solid #540060;
    background: #fffef6;
    cursor: pointer;
}

#pas_table{
    margin-top: 10px;
    border:1px solid #8e8e8e;
    border-left:none;
    border-right:none;
    width: 100%;
}

#collection{
    width: 24px;
    height: 24px;
}

#title{
    font-size:20px ;
    font-weight: 900;
    letter-spacing: 5px;
}

#icon_answer{
    width: 24px;
    height: 24px;
}

.div_backgroundcolor{
    background: #ffffff;
}

.user_img{
    margin-top:20px;
    width: 200px;
    position: relative;
}

.owner_circle{
    margin:0px ;
    margin-top:0px;
    display:inline-block;
    width:52px;
    height:52px;
    border-radius:100px;
    border:1.5px solid #bbbbbb	;
    overflow:hidden;
    box-shadow:0 0 3px #ccc;
}

.other_circle{
    margin:-30px ;
    margin-top:-50px;
    display:inline-block;
    width:52px;
    height:52px;
    border-radius:100px;
    border:1.5px solid #bbbbbb	;
    overflow:hidden;
    box-shadow:0 0 3px #ccc;
    cursor: pointer;
}

.like_other_user{
    border:1px solid #666666 ;
    width:100%;
    border-left: none;
    border-right: none;
    border-top: none;
}

.answer_date{
    margin-top: -20px;
}

.like_div{
    width: 100px;
    border-left: 10px solid #540060;
    border-bottom: 2px solid #540060;
}

.like{
    margin-left: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.dislike{
    margin-left: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.table1_border{
    background: #eae8eb;
    border-radius:4px;
    width:90px;
}

.comment{
    background: #ffffff;
}

#get_owner_like1{
    opacity: 0;
}

.comment_div{
    padding-bottom: 20px;
}


#sign_in_page{
    width:25.4%;
    height:34.3%;
    z-index:-1;
    background:#ffffff;
    position: fixed;
    border-radius: 4px;
    border: 0px solid #000000;
    top: 50%;
    left: 50%;
    margin-left: -12.7%;
    margin-top: -8.6%;
    opacity:0
}

.yellow_div{
    width:100%;
    height:30px;
    background:#eee88d;
    border-radius: 4px;
    border: 0px solid #000000;
}


#sign_up_page{
    width:25.4%;
    height:302px;
    z-index:-1;
    background:#ffffff;
    position: fixed;
    border-radius: 4px;
    border: 0px solid #000000;
    top: 50%;
    left: 50%;
    margin-left: -12.7%;
    margin-top: -151.5px;
    opacity:0;
}

#login{
    border: 1.5px solid #540060;
    background: #fffeec;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    margin-top:30px;
    margin-left:60%;
}

#register{
    border: 1.5px solid #540060;
    background: #fffeec;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    margin-top:30px;
    margin-left:60%;
}